.search-section
{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 30px 5px;
}

.search-container
{
    position: relative;
    width: 100%;
    max-width: 800px;
}

.form-container{
    position: relative;
}
.form-container input {
  width: 100%;
  padding: 18px 65px 18px 25px;
  font-size: 18px;
  border-radius: 28px;
  border: 2px solid #ddd;
  outline: none;
  transition: border-color 0.2s;
  box-sizing: border-box;
}

.form-container input:focus {
  border-color: #5D2F77;
  box-shadow: 0 0 10px rgba(93, 47, 119, 0.3);
}


.search-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #FFACAC;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-button:hover {
  background: #E45A92;
}